*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    border: 0;
    font-family: "Poppins", sans-serif;
}

html{
    font-size: 62.5%;
}

button{
    cursor: pointer;
}

body{
    background: #8880fe;
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 85%;
    background: #1d1b33;
    border-radius: 13px;
}

header.abas{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-top: 45px;
}

header.abas button{
    width: 80%;
    background: #1d1b33;
    color: #ffffff94;
    font-size: 3.5rem;
    font-weight: 500;
    outline: none;
}

.conteudos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 90%;
}

.conteudos div .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.5rem;
}

.conteudos div .form span{
    font-weight: 300;
}

.conteudos div .form label{
    margin-top: 40px;
}

.conteudos div .form label input{
    width: 100%;
    height: 35px;
    border-radius: 7px;
    font-weight: 400;
    font-size: 1.4rem;
    border: 2px solid #fff;
    outline: 0;
}

main.conteudos div .form input[type="submit"]{
    cursor: pointer;
    width: 70%;
    height: 45px;
    outline: 0;
    border: none;
    border-radius: 32px;
    background: #261477;
    color: white;
    margin-top: 70px;
    font-size: 2.3rem;
    transition: all .3s ease-in-out;
}

main.conteudos div .form input[type="submit"]:hover{
    background: #5952d4;
}

div .alternativo{
    margin-top: 1rem;
}

div .alternativo span{
    font-size: 1.6rem;
    font-weight: 400;
    color: #ffffff4d;
    position: relative;
}

div .alternativo span::before, div .alternativo span::after{
    position: absolute;
    content: '';
    height: 1px;
    width: 700%;
    bottom: 50%;
    right: 50px;
    background: #ffffff4d;
}

div .alternativo span::after{
    left: 50px;
}

div footer.midias-sociais img{
    width: 46px;
    margin: 20px;
}

div footer.midias-sociais{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

div.hide .form{
    display: none;
}

.abas .ativa{
    font-weight: 800;
    color: #cccccc;
}

@media(max-width: 1300px){
    html{
        font-size: 60%;
    }
    div.container{
        width: 45%;
    }
}

@media(max-width: 1190px){
    div.container{
        width: 55%;
    }
}

@media(max-width: 1042px){
    html{
        font-size: 59%;
    }
    div.container{
        width: 65%;
    }
}

@media(max-width: 940px){
    html{
        font-size: 57%;
    }
    div.container{
        width: 75%;
    }
    div footer.midias-sociais img{
        width: 40px;
        margin: 20px;
    }
}

@media(max-width: 750px){
    div.container{
        width: 85%;
    }
    
}
@media(max-width: 490px){
    html{
        font-size: 50%;
    }
    div.container{
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    div footer.midias-sociais img{
        width: 37px;
        margin: 20px;
    }
}

@media(max-width: 350px){
    html{
        font-size: 40%;
    }
    div footer.midias-sociais img{
        width: 32px;
        margin: 20px;
    }
}